



.box{

    width: 90rem;
    height:50rem;

    
    
    background-image: url(img.jpeg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;


    
}
@keyframes change-bg{

    frtom{
        background:url(img.jpeg)
    }
    to{
        background: yellow;
    }
}

.header{
    animation-name: change-bg;
    animation-duration: 5s;
    animation-iteration-count:infinite;
    padding: 4em;

} 



.main-head ,.more-head{
    display: inline-block;

}
.main-head{


    font-family:'Times New Roman', Times, serif;
    font-size: 3rem;

    animation-name: text-b;
    animation-duration: 1.5s;
    animation-iteration-count:infinite;
    float: left;
    

}

.text-blk{
    color: black;
}

 @keyframes text-b{

    0%{
       color: red; 
    }
    50%{
        color: transparent;
    }
    100%{
color: red;
    }
 }

 a{
     float: right;
     font-family:'Times New Roman', Times, serif;
     font-size: 3rem;
     color: black;

}


 .container{
    padding: 0 150px;
    

} 

.img1{
    border: 3px inset gold;
    height: 200px;
    width: 200px;
    background-image: url(img.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    animation-name: animate;
    animation-duration: 1.5s;
    animation-iteration-count:infinite;
    
}
@keyframes animate{

    0%{
    background-image: url(img.jpeg);
    }
    50%{
        background:transparent;
    }
    100%{
        background-image: url(img.jpeg);
    }
}

.img2{
    border: 3px inset gold;
    height: 200px;
    width: 200px;
    background-image: url(img.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
    animation-name: animate;
    animation-duration: 1.5s;
    animation-iteration-count:infinite;
}


